@font-face{
		
		font-family: Consolas;
		src: url('Consolas.ttf');
}
		
		.MainWindow{
			background-color:#D9E4F1;

			width: 420px;
			height: 387px;
			border: 1px solid black;
			border-radius: 7px;
			-moz-box-shadow:    3px 3px 5px 6px #ccc;
 			-webkit-box-shadow: 3px 3px 5px 6px #ccc;
  			box-shadow:         3px 3px 5px 6px #ccc;
		}
		.Minimize{
			
			width: 19px;
			height: 3px;
			


			
		}
		.Minimize:hover{
			background-color: #D6E2EF;
			border: 1px solid black;
			border-radius: 4px;
		}
		.Close{
			background-color: #BE5E52;
			width: 19px;
			height: 3px;
			
		}
		.Close:hover{
			background-color: #D9A09D;
			border: 1px solid black;
			border-radius: 4px;
		}
		.CloseMinimizeBtns{
			height:29px; 
			width: 420px;

		}
		.bar{
			height: 20px;

		}
		.OptionsBtns{
			
			width: 420px;
			margin-left: 2px;
			margin-right: 2px;
			font-size: 15px;

		}
		.OptionsBtns:hover{
			border: 1px solid gray;
			border-radius: 4px;
		}
		.OptionsBar{
			
			background: -webkit-linear-gradient(#FEFEFF 0, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
		    background:    -moz-linear-gradient(#FEFEFF 0, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
		    background:      -o-linear-gradient(#FEFEFF 0, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
		    background:         linear-gradient(#FEFEFF 0, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
		    padding-left: 5px;
		    border:1px solid gray;
		}
		.textField{
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 10px;
			width: 400px;
			height: 50px;
			border-radius: 3px;
		}
		
		.textField{
			text-align: right;
			font-size: 30px;
			font-family: Consolas;
		}
		.bits{
			background-color: #D9E4F1;
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 10px;
			width: 400px;
			height: 63px;
			border: 1px solid gray;
			border-radius: 2px;
			line-height:1;
		}
		.bitsNum{
			margin-left: 11px;
			margin-right: 11px;
			font-size: 13px;

		}
		.bitsNumDisabledFirst{
			margin-left: 11px;
			font-size: 13px;
			color:gray;
		}
		.bitsNumDisabledSecond{
			margin-left: 183px;
			font-size: 13px;
			color:gray;
		}
		.bitsNumDisabledThird{
			margin-left: 148px;
			font-size: 13px;
			color:gray;
		}
		.bitsNumDisabledZero{
			margin-left: 152px;
			font-size: 13px;
			color:gray;
		}
		.Bordered{
			margin-left: 6px;
			font-family: "Courier New";
			font-size: 14px;
			border: 1px solid gray;
			border-radius: 3px;
			height: 90px;
		}
		.Radiobtns{
			margin-right: 26px;
			
		}
		.btnsAndNumbers{
			margin-top: 2px;
		}
		.btnsEnabled{
			margin-left: 1px;
			width: 37px;
			height: 28px;
			font-size: 12px;
			background: -webkit-linear-gradient(#F0F6FB 0, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
		    background:    -moz-linear-gradient(#F0F6FB 0, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
		    background:      -o-linear-gradient(#F0F6FB 0, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
		    background:         linear-gradient(#F0F6FB 0, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
		    box-shadow: none;
		    border: 1px solid #bababa;
   			border-radius:2px;
			
		}
		.btnsEnabled:hover{
			width: 37px;
			height: 28px;
			font-size: 12px;
			background: -webkit-linear-gradient(#fef7f8, #fde6cd, #fbe386);
    	 	border:1px solid #ffd800;
		}
		.btnsDisabled{
			width: 37px;
			height: 28px;
			font-size: 12px;
			text-align: center;
			background:#d9e4f1;
    		border: 1px solid #bababa;


		}
		.btnsEnabledColspan{
			margin-left: 1px;
			width: 79px;
			height: 28px;
			font-size: 12px;
			background: -webkit-linear-gradient(#F0F6FB 0, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
		    background:    -moz-linear-gradient(#F0F6FB 0, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
		    background:      -o-linear-gradient(#F0F6FB 0, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
		    background:         linear-gradient(#F0F6FB 0, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
		    box-shadow: none;
		    border: 1px solid #bababa;
   			border-radius:2px;
		}
		.btnsEnabledColspan:hover{
			width: 79px;
			height: 28px;
			font-size: 12px;
			background: -webkit-linear-gradient(#fef7f8, #fde6cd, #fbe386);
    	 	border:1px solid #ffd800;
		}


		.btnsEnabledRowspan{
			margin-left: 1px;
			width: 37px;
			height: 60px;
			font-size: 12px;
			background: -webkit-linear-gradient(#F0F6FB 0, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
		    background:    -moz-linear-gradient(#F0F6FB 0, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
		    background:      -o-linear-gradient(#F0F6FB 0, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
		    background:         linear-gradient(#F0F6FB 0, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
		    box-shadow: none;
		    border: 1px solid #bababa;
   			border-radius:2px;
			
		}
		.btnsEnabledRowspan:hover{
			width: 37px;
			height: 60px;
			font-size: 12px;
			background: -webkit-linear-gradient(#fef7f8, #fde6cd, #fbe386);
    	 	border:1px solid #ffd800;
		}
		.iconname{
			font-size: 15px;
		}