
spec{
	color:white;
}
p{
	margin-left: 10px;
	margin-right: 50px;
	color:gray;
}
.about{
	margin-left:10px;
	color: #FACD2E;
	font-size: 30px;
	font-family:  "Times New Roman";
}
body{
	width: 700px;
	height: 330px;

}
.pc{
	width: 63px;
	float: left;
	margin-left: 5px;
	margin-right: 30px;
}
header{
	background-color: #333333;
	border-bottom: 2px solid black;
	border-radius: 5px;
	height: 70px;
}
.all{
	background-color: #3B3B3B;
	border:solid gray 1px;
	border-radius: 5px;
	width: 700px;
	height: 330px;
}
h1{
	color:white;
	font-size: 27px;
	display: inline-block;
}
a{
	top:30px;
	position: absolute;
	text-decoration: none;
	color:white;
	background-image: url('btn.png');
	display: inline-block;
	width: 56px;
	height: 28px;
	text-align:center;
}
input{
	margin-right: 18px;
}