/* Less to CSS */
form {
  float: left;
  color: white;
  margin-left: 600px; }
  form input {
    border: solid black 1px;
    background-color: #B35EF3;
    margin-bottom: 5px;
    border-radius: 20px;
    height: 20px; }
  form button {
    color: white;
    background-color: #B35EF3;
    border-radius: 10px;
    width: 80px;
    height: 30px; }

aside:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

article {
  color: white;
  border: solid black 1px;
  border-radius: 20px;
  padding: 5px;
  float: left;
  margin-bottom: 20px; }
  article footer {
    text-align: right;
    font-weight: normal; }
    article footer a {
      text-decoration: none;
      color: gray; }
  article h1 {
    padding-left: 15px; }

img {
  display: inline-block; }

body {
  background: -moz-linear-gradient(top, #d593ff 0%, #c68cf2 5%, #a338f4 16%, #8f19ef 22%, #9215f2 25%, #9215f2 100%) fixed;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d593ff), color-stop(5%, #c68cf2), color-stop(16%, #a338f4), color-stop(22%, #8f19ef), color-stop(25%, #9215f2), color-stop(100%, #9215f2)) fixed;
  background: -webkit-linear-gradient(top, #d593ff 0%, #c68cf2 5%, #a338f4 16%, #8f19ef 22%, #9215f2 25%, #9215f2 100%) fixed;
  background: -o-linear-gradient(top, #d593ff 0%, #c68cf2 5%, #a338f4 16%, #8f19ef 22%, #9215f2 25%, #9215f2 100%) fixed;
  background: -ms-linear-gradient(top, #d593ff 0%, #c68cf2 5%, #a338f4 16%, #8f19ef 22%, #9215f2 25%, #9215f2 100%) fixed;
  background: linear-gradient(to bottom, #d593ff 0%, #c68cf2 5%, #a338f4 16%, #8f19ef 22%, #9215f2 25%, #9215f2 100%) fixed; }

header div {
  display: inline-block; }

nav, li, ul {
  color: white;
  display: inline-block; }

.nav-list-sub-nav-list {
  color: white;
  display: none; }

nav {
  width: 840px;
  margin-left: 20px;
  border: solid black 1px;
  border-radius: 15px;
  height: 45px;
  font-size: 17px;
  margin-bottom: 30px; }
  nav a {
    padding-right: 20px;
    color: white;
    text-decoration: none; }

aside {
  width: 400px;
  display: inline-block; }
  aside p strong {
    color: gray; }
  aside p a {
    color: gray;
    text-decoration: none; }

aside > ul > li {
  float: right;
  border: solid black 1px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 18px; }

section {
  width: 820px; }

.foot {
  color: white;
  margin-top: 150px;
  margin-left: -270px;
  text-align: left;
  display: inline-block;
  font-weight: bold; }

.listedWidgets li {
  display: block;
  width: 310px; }
